#container{
}

#copyright{
    font-size: 25%;
}

.summary{
    font-family: Lora, arial, helvetica, ariel, sans-serif;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 1%;
}

.subsummary{
    font-size: 100%;
}

.info{
    background-color: #a29bfe;
}

.btn-back{
    background-color: #00b894;
    border-color: #00b894;
}